<div id="menu-bar">
    <h1>User Management</h1>
    <ul>
        <li ng-if="bLogin"><a href="#/home">Home</a></li>
        <li ng-if="bLogin"><a href="#/profile">Profile</a></li>
        <li ng-if="!bLogin"><a href="#/login">Login</a></li>
        <li ng-if="!bLogin"><a href="#/register">Register</a></li>
        <li ng-if="bLogin"><a href="#/logout">Logout</a></li>
        <li ng-if="bLogin"><a href="#/message">Message</a></li>
    </ul>
</div>
