body{
    font-family: Helvetica;
    /* margin: 0; */
  }
  
  h1,h2,h3{
    /* margin: 0; */
  }
  
  .belt{
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 5px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
  }
  
  #menu-bar{
    background: rgb(2, 11, 75);
    color: #fff;
    padding: 10px;
  }
  
  #menu-bar h1{
    font-size: 24px;
    font-weight: normal;
    display: inline-block;
  }
  
  #menu-bar ul{
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 6px 0;
  }
  
  #menu-bar li{
    float: right;
    margin-left: 20px;
  }
  
  #menu-bar a{
    color: #fff
  }
  
  main{
    background: #eee;
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
  }
  
  .content{
    padding: 20px;
  }

  .content button {
    background: gray;
    padding: 10px;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    box-shadow: 2px 2px 2px rgba(20,20,20,0.1);
    font-size: 16px;
  } 
 
  .content input[type="submit"]{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #777;
    border: 0;
    box-shadow: 2px 2px 2px rgba(20,20,20,0.1);
    font-size: 16px;
  }
  
  .content button:nth-child(2){
    float: right;
  }
  
  .content ul{
    padding: 0;
    list-style-type: none;
    margin: 30px 0;
  }
  
  .content li{
    padding: 15px 0;
    border-top: 1px solid #e2e2e2;
    color: #444;
  }
  
  .indent {
    color: green;
}
.no-indent {
    color: red;
}

  .content li span{
    float: right;
  }
  
  .content li h3{
    display: inline-block;
    font-weight: normal;
    font-size: 22px;
  }
  
  .content input{
    width: 90%;
    padding: 10px 5%;
    border-radius: 10px;
    border: 2px solid #ddd;
    margin: 10px 0;
  }
  
  .content input[type="submit"]:last-child{
    width: 150px;
    display: block;
    margin: 15px auto;
  }
  
  .remove{
    background: #fff;
    border-radius: 20px;
    color: crimson;
    cursor: pointer;
   
  }
  
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }

  input.ng-invalid.ng-touched {
    border: 2px solid red;
  }