<h1 style="text-align: center;">Login Page</h1>


<form ng-submit="loginUser()">
    <div class="col-xs-6">
            <label>User Name</label>
            <input type="text" class="form-control" ng-model="login.loginusername">

            <label>Password</label>
            <input type="password" class="form-control" ng-model="login.loginpassword">

            <br>
            <button class="btn btn-primary" type="submit">Login</button>
            <br><br>
            <!-- <p ng-if="counter" class="text-success"> User found. Redirecting...</p> -->
    </div>
</form>
