<h1 style="text-align: center;">Welcome to your own messaging system</h1>


<label>To</label>
<form ng-submit="messageForm()">
        <input type="text" ng-model="message.personTo" class="form-control">
        <br>
        <label>Your message</label>
        <input type="text" ng-model="message.messageBody" class="form-control">
        <br>
        <button class="btn btn-success" type="submit">Send</button>        
</form>
<span class="text-primary bg-danger" ng-if="messageSent">Message sent successfully</span>
<hr>
<h2 style="text-align: center;"> These are the following messages in your queue</h2><br>

<table class="table">
    <thead>
        <th>From</th>
        <th>Message</th>
    </thead>
    <tbody>
        <tr ng-repeat="mess in latestMessages">
            <td>{{mess.from}}</td>
            <td>{{mess.message}}</td>
            <td><input type="button" style="border: none" value="Delete" ng-click="deleteMessage($index)" /></td>
            <td><input type="checkbox" ng-click="messageMarkImp(mess, $index)" ng-model="leader"><br/></td>  
            <td ng-if="mess.important" style="color: red">Important</td>
        </tr>
    </tbody>
</table>
