<h1 style="text-align: center;">Profile</h1>
<h4>The details of the users are as follows:</h4>

<table class="table">
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>Phone</th>
    </thead>
    <tbody>
        <tr>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.username}}</td>
            <td>{{data.phone}}</td>
            <td>
                <input type="button" value="Get Details" ng-click="GetDetails('test')" />
            </td>
        </tr>
    </tbody>
</table>
<div class="content" ng-if="flag">
    <form name="editProfile" ng-submit="onProfileEdited()">
        <label>Name</label>
        <input type="text" class="form-control" ng-model="myProfile.myName">
        <label>Email</label>
        <input type="text" class="form-control" ng-model="myProfile.myEmail">
        <label>Username</label>
        <input ng-model="defaultUser" type="text" class="form-control" readonly>
        <label>Phone</label>
        <input type="text" class="form-control" ng-model="myProfile.myPhone">
        <input type="submit" value="Save">
    </form>
    <span>
        {{successMsg}}
    </span>    
</div>
