<h1 style="text-align: center;">Registration Page</h1>

<div class="">
<form name="registerForm" ng-submit="registerUser()" novalidate>
<div class="col-xs-6">
        <label>Name</label>
        <input type="text" name="name" class="form-control" ng-model="user.name" ng-required="true">
        <div ng-show="registerForm.name.$touched && registerForm.name.$invalid">Enter a valid name
        </div>

        <label>User Name</label>
        <input type="text" name="user" class="form-control" ng-model="user.username" ng-required="true">
        <div ng-show="registerForm.user.$touched && registerForm.user.$invalid">Enter a valid username
        </div>

        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="user.email" ng-required="true">
        <div ng-show="registerForm.email.$touched && registerForm.email.$invalid">Enter a valid email
        </div>

        <label>Password</label>
        <input type="password" name="password" class="form-control" ng-model="user.password" ng-required="true">
        <div ng-show="registerForm.password.$touched && registerForm.password.$invalid">Enter a valid password
        </div>

        <label>Phone</label>
        <input type="number"  name="phone"  class="form-control" ng-model="user.phone" ng-required="true">
        <div ng-show="registerForm.phone.$touched && registerForm.phone.$invalid">Enter a valid number
        </div>
        <br>
        <button ng-class="!registerForm.$invalid? 'btn btn-primary': 'btn btn-danger'"  type="submit" ng-disabled="registerForm.$invalid">Register</button>
</div>

</form>
</div>
